{% extends 'all-cards/base.html'%}
{% load bootstrap5 %}
{% block content%}
{{ block.super }}
<div class="container m-5">
    <div class="carosel">
        <p style="background-color: navy; color: white; text-align: center;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repellat molestias ad, atque quam reprehenderit labore facere, quis soluta nobis odit voluptates minus, aliquam porro! Nulla perferendis pariatur ipsam enim.</p>
    </div>
</div>
<footer>
    <div>
        <p>@2021</p>
        <p>Moringa school</p>
    </div>
    <div>
        <p>Login</p>
    </div>
    <div>
        <p>Sign Up</p>
    </div>
</footer>
{%endblock%}